---
name: lint
'on':
  pull_request:
  push:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2.3.4

      - name: Hadolint Action
        # You may pin to the exact commit or the version.
        uses: brpaz/hadolint-action@v1.5.0
        with:
          # The path to the Dockerfile to lint
          dockerfile: Dockerfile # optional, default is Dockerfile

  yamllint:
    name: Yamllint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2.3.4

      - name: Set up Python 3.
        uses: actions/setup-python@v3.0.0
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint

      - name: Lint all the YAMLs.
        run: yamllint .
